{% extends "base.html" %}
{% load i18n %}

{% comment %}Translators: registration.logged_out.logged_out_pecha{% endcomment %}
{% block title %}{% trans "Logged Out | Pecha" %}{% endblock %}

{% block content %}

{% include "elements/header.html" %}

<div id="loggedOut" >

	<p id="message">
		{% comment %}Translators: registration.logged_out.you_are_now_logged_out{% endcomment %}
		{% trans "You are now logged out." %} <a href="{% url "login" %}">
			{% comment %}Translators: registration.logged_out.log_back_in{% endcomment %}
			{% trans "Log back in" %}</a>.
	</p>
	
</div>
{% endblock %}