{% extends "base.html" %}
{% load i18n %}

{% comment %}Translators: registration.password_reset_confirm.choose_a_new_password{% endcomment %}
{% block title %}{% trans "Choose a new Password" %} | 
{% comment %}Translators: registration.password_reset_confirm.pecha{% endcomment %}
{% trans "Pecha" %}{% endblock %}

{% block content %}

<div id="newPassword" class="registrationContent static">
    <div class="inner">
        <h1>
            {% comment %}Translators: registration.password_reset_confirm.choose_a_new_password{% endcomment %}
            <span class="{{language_font_class}}">{% trans "Choose a new password" %}</span>
        </h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button control-elem">
                {% comment %}Translators: registration.password_reset_confirm.save_password{% endcomment %}
                <span class="{{language_font_class}}">{% trans "Save Password" %}</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
