{% extends "base.html" %}
{% load i18n %}
{% comment %}Translators: registration.password_reset_complete.password_reset{% endcomment %}
{% block title %}{% trans "Password Reset" %} | 
{% comment %}Translators: registration.password_reset_complete.pecha{% endcomment %}
{% trans "Pecha" %}{% endblock %}

{% block content %}

<div id="newPassword" class="registrationContent static">
    <div class="inner">
        <p id="message">
            {% comment %}Translators: registration.password_reset_complete.your_new_password_has_been_saved{% endcomment %}
            <span class="{{language_font_class}}">{% trans "Your new password has been saved." %}</span>
        </p>
        <a class="registration-links control-elem" href="{% url "login" %}" >
            {% comment %}Translators: registration.password_reset_complete.back_to_login{% endcomment %}
            <span class="{{language_font_class}}">{% trans "Back to login" %}</span>
        </a>
    </div>
</div>
{% endblock %}
