{% extends "base.html" %}
{% load i18n cache humanize sefaria_tags static %}


{% block title %}
	{% if single %}
{% comment %}Translators: pecha.org/activity.revision_history{% endcomment %}
{% trans "Revision History of" %} {{ ref }} ({{ version }})
	{% elif for_user %}
{% comment %}Translators: pecha.org/activity.activity{% endcomment %}	
{{ profile.full_name }} | {% trans "Pecha Activity" %}
	{% else %}
{% comment %}Translators: pecha.org/activity.activity{% endcomment %}	
{% trans "Pecha Activity" %}
	{% endif %}
{% endblock %}

{% block description %}
	{% if single %}
{% comment %}Translators: pecha.org/activity.revision_history_message{% endcomment %}		
{% trans "View the complete revision history of this text on Pecha." %}
	{% elif for_user %}
{% comment %}Translators: pecha.org/activity.activity_message{% endcomment %}		
{% trans "View a user's activitiy history on Pecha, including published source sheets, and text translations, edits or additions." %}
	{% else %}
{% comment %}Translators: pecha.org/activity.view_log_message{% endcomment %}		
{% trans "View the complete log of public activity on Pecha, including published source sheets, and text translations, edits or additions. " %}
	{% endif %}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex">
{% endblock %}


{% block content %}

<div id="activityPage" class="container static">
    <div class="inner">
        {% if single %}
		    <h1>
				{% comment %}Translators: pecha.org/activity.revision_history{% endcomment %}	
				<span class="{{ language_font_class }}">{% trans "Revision History of" %} {{ ref|ref_link }}</a></span>
		    </h1>
		    <h2>
				<span class="{{ language_font_class }}">{{ version }}</span>
		    </h2>
        {% elif for_user %}
            <h1>
				{% comment %}Translators: pecha.org/activity.public_activity{% endcomment %}	
            	<span class="{{ language_font_class }}">{{ profile.id|user_link }}| {% trans "Public Activity" %}</span>            	
        	</h1>
        {% else %}
            <h1>
				{% comment %}Translators: pecha.org/activity.recent_activity{% endcomment %}	
				<span class="{{ language_font_class }}">{% trans "Recent Activity on Pecha" %}</span>
        	</h1>
        {% endif %}
        <div class="activityFilterSection sans-serif">
            <select id="activityFilter">
				{% comment %}Translators: pecha.org/activity.all_activity_drop_down{% endcomment %}	
                <option value=""{% if not filter_type %} selected {% endif %}>{% trans "All Activity" %}</option>
				{% comment %}Translators: pecha.org/activity.translation_option{% endcomment %}	
                <option value="translate" {% if filter_type == "translate" %} selected {% endif %}>{% trans "Translations" %}</option>
				{% comment %}Translators: pecha.org/activity.source_sheets_option{% endcomment %}	
                <option value="publish_sheet"{% if filter_type == "publish_sheet" %} selected {% endif %}>{% trans "Source Sheets" %}</option>
				{% comment %}Translators: pecha.org/activity.new_texts_option{% endcomment %}	
                <option value="add_text"{% if filter_type == "add_text" %} selected {% endif %}>{% trans "New Texts" %}</option>
				{% comment %}Translators: pecha.org/activity.edit_list_option{% endcomment %}	
                <option value="edit_text"{% if filter_type == "edit_text" %} selected {% endif %}>{% trans "Edits" %}</option>
				{% comment %}Translators: pecha.org/activity.notes_option{% endcomment %}	
                <option value="add_note"{% if filter_type == "add_note" %} selected {% endif %}>{% trans "Notes" %}</option>
				{% comment %}Translators: pecha.org/activity.reviews_option{% endcomment %}	
                <option value="review"{% if filter_type == "review" %} selected {% endif %}>{% trans "Reviews" %}</option>
				{% comment %}Translators: pecha.org/activity.text_info_option_option{% endcomment %}	
                <option value="index_change"{% if filter_type == "index_change" %} selected {% endif %}>{% trans "Text Info" %}</option>
				{% comment %}Translators: pecha.org/activity.reversions_option{% endcomment %}	
                <option value="revert_text"{% if filter_type == "revert_text" %} selected {% endif %}>{% trans "Reversions" %}</option>
				{% comment %}Translators: pecha.org/activity.flagged_option{% endcomment %}	
                <option value="flagged"{% if filter_type == "flagged" %} selected {% endif %}>{% trans "Flagged" %}</option>
            </select>
        </div>

        <div class="section">
            <div class="main-text">
                <div id="activityFeed">
                    {% include "elements/activity_feed.html" %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
	{% if single %}
		<script>{% include "js/django-csrf.js" %}</script>
		<script>
			$(function(){
				$(".revert").click(function() {
					if (confirm("Are you sure you want to revert to a previous state of this text?")) {
						revUrl = $(this).attr("data-revert");
						$.post(revUrl, function(data) {
							if ("error" in data) {
								alert(data.error);
							} else {
								location.reload(true);
							}
						});

					}
				});
			});
		</script>
	{% else %}
		<script>
			$("#contributors h4").click(function() {
				$("#contributors .board").show();
			});
		</script>
	{% endif %}
	<script src="{% static 'js/lib/jquery.raty.js' %}"></script>
    {% static "img/raty/" as path %}
	<script>
	    var ratySettings = { // for text review ratings
	        path: {{path}},
	        hints: ["Major problems", "Some problems", "Seems good", "Good", "Definately good"]
	    };
	    $(".raty").each(function() {
	        var score = parseFloat($(this).attr("data-raty")) * 5;
	        var settings = $.extend({}, ratySettings, {score: score, readOnly: true });
	        $(this).raty(settings);
	    });
	    $(".indexDetailsLink").click(function(){
	    	$(this).closest("li").find(".indexDetails").show();
	    })
	</script>
    <script>
        document.getElementById('activityFilter').onchange = function() {
            var filter_type = this.value;
            filtered_url = (filter_type != "") ? "?type="+filter_type : "?";
            window.location = filtered_url;
        };
    </script>
{% endblock %}
