{% extends "base.html" %}
{% load i18n cache %}

{% comment %}Translators: leaderboard.label_top_contributor_pecha{% endcomment %}
{% block title %}{% trans "Top Contributors | Pecha" %}{% endblock %}

{% comment %}Translators: leaderboard.contributor_leaderboard{% endcomment %}
{% block description %}{% trans "See who has been contributing most to Pecha in terms of texts, translations, and source sheet." %}{% endblock %}

{% block css %}

    #boards {
        display: flex;
    }
    #boards div {
        flex: 1;
    }
    #boards .board {
        margin-bottom: 30px;
        line-height: 1.6;
        font-size: 18px;
        padding: 0 30px;
    }

{% endblock %}


{% block content %}
<div id="leaderboardPage" class="static">
    <div class="inner">
        <h1>
            {% comment %}Translators: leaderboard.label.top_contributor{% endcomment %}
            <span class="{{ language_font_class }}">{% trans "Top Contributors" %}</span>
        </h1>

        <div id="boards">
            {% cache 86400 leaderboards %}
            <div>
            {% include "elements/leaderboard.html" with title="Today" leaders=leaders1 %}

            {% include "elements/leaderboard.html" with title="This Week" leaders=leaders7 %}

            {% include "elements/leaderboard.html" with title="This Month" leaders=leaders30 %}
            </div>
            <div>
            {% include "elements/leaderboard.html" with title="All Time" leaders=leaders %}
            </div>
            {% endcache %}
        </div>
    </div>
</div>

{% endblock %}

