{% extends "base.html" %}
{% load i18n %}

{% load sefaria_tags %}
{% load humanize %}

{% comment %}Translators: random.random_text_pecha_dot_org{% endcomment %}
{% block title %}{% trans "Random Text | Pecha.org" %}{% endblock %}

{% block content %}

<div id="randomPage" class="container doc">
    <div class="row">
        <div class="span8 offset2">
            {% comment %}Translators: random.a_random_text_on_pecha{% endcomment %}
            <h1>{% trans "A Random Text on Pecha" %}</h1>
           
            <center>
                <div id="getRandom" class="btn btn-large btn-primary">
                    {% comment %}Translators: random.get_random{% endcomment %}
                    {% trans "Get Random" %}
                </div>
            </center>

            <h2 id="textTitle"></h2>

            <div id="text"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            $("#getRandom").click(sjs.getRandom)
            sjs.getRandom();
        });

        sjs.getRandom = function() {
            $.getJSON("/api/texts/random", function(data){
                $("#textTitle").html(data.title);
                var html = "<div class='he'>" +
                                data.he.join(" ");
                            "</div>" +
                            "<div class='en'>" +
                                data.text.join(" ");
                            "</div>";
                $("#text").html(html);
            });
        };
    </script>
{% endblock %}