{% load sefaria_tags %}
{% load i18n %}

<table cellpadding="0px" cellspacing="0" border="0" align="center" style="width:100%;font-size:16px">
	<tr>
		<div style="padding-bottom:18px">
		{% block to %}{% endblock %}
		</div>
	</tr>
	<tr>
	{% autoescape off %}
		{% block body %}{% endblock %}
	{% endautoescape %}
	</tr>
	<tr style="font-size:13px">
		<div style="padding:20px 0;border-top:1px solid #bbb">
		{% comment %}Translators: templates.email.base.you_are_recieving_this_message_because_you_have_an_account_on_link{% endcomment %}	
		{% trans "You're receiving this message because you have an account on" %}
			<a href="http://www.pecha.org">www.pecha.org</a>.
            <br>
		{% comment %}Translators: templates.email.base.to_change_your_email_settings{% endcomment %}	
        {% blocktrans with settings_url="/settings/account"|absolute_url %}
            To change your email settings, click <a href="{{ settings_url }}">here</a>
        {% endblocktrans %}
            <br>
		{% comment %}Translators: templates.email.base.feedback_is_welcome{% endcomment %}	
        {% blocktrans with hello_email="mailto:hello@pecha.org" %}
            Your feedback is welcome. Feel free to send us an <a href="{{ hello_email }}">email</a>.
        {% endblocktrans %}
		</div>
	<tr>
</table> 

